/*variabili*/
:root{
    --color-but: #0260ff;
    --color-text: #000000;
    --color-two-text: #6d082a;
    --color-bg-blocks: #b4d0e6;
    --color-bg: #ffffff;
    --text-font:'Open Sans', sans-serif;
}

/*********valori condivisi*********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    font-family: var(--text-font);
}

img{
    width: 100%;
}

.box-15{
    width: 15%;
    float: left;
}

.box-30{
    width: 30%;
    float: left;
}

.box-40{
    width: 40%;
    float: left;
}

.box-70{
    width: 70%;
    float: left;
}

.box-50{
    width: 50%;
    float: left;
}

.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

/*****contenitori blocchi float******/

.container_head{
    width: 1500px;
    margin: auto;
}

.container{
    width: 1200px;
    margin: auto;
}

/************sezioni************/

/*****head*****/

header{
    background-color: 
    var(--color-bg-blocks);
}

/*****main*****/

main{
    margin-top: 3rem;
}

/************Text style************/

/*head*/

.container_head p{
    padding: 0 2rem 2.7rem 1rem;
}

.container_head h1{
    font-size: 70px;
    padding: 4rem 0 3rem;
}

/*main*/

.piano_dropbox h1{
    font-size: 40px;
    text-align: left;
}

.sub{
    text-align: center;
}

.sub_text{

}

/*sezione membership*/
.membership p{
    padding: 2.5rem 0;
}

/*sezione funzione DropBox*/
.operazione_DropBox h1{
    font-size: 40px;
}

/***********Button***************/
.btn{
    text-decoration: none;
    padding: 0.7rem;
}

.btn_blue{
    background-color: var(--color-but);
    color: var(--color-bg);
}

.btn_light{
    background-color: var(--color-bg);
    border:2px solid;
    color: var(--color-text);
}

.container_head .btn{
    margin: 0 1rem 1rem 1rem;
}

.container_head .random{
    padding-top: 2rem;
}

/*navbar style*/
.nav_bar{
    width: 100vw;
    padding: 1rem;
    background-color: var(--color-bg);
}

.logo{
    display: inline-block;
}

.menu{
    display: inline-block;
}

/****sections*****/

/*sezione radio abbonamento*/
.chek{
    margin: 2rem 0 1rem 0;
}

.chek label{
    margin: 0 1rem 0 0;
}

/*sezione abbonamento*/


.piano_dropbox .mid{
    margin: 0 10%;
}

.piano_dropbox .box-30{
    padding: 0 0rem 4rem;
}

/*sezione membership*/
.mem_text{
    padding: 2rem 5rem 0 5rem;
}