/*variabili*/
:root{
    --color-but: #0260ff;
    --color-text: #000000;
    --color-two-text: #6d082a;
    --color-bg-blocks: #b4d0e6;
    --color-bg: #ffffff;
    --text-font:'Open Sans', sans-serif;
}

/*********valori condivisi*********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-15{
    width: 15%;
    float: left;
}

.box-30{
    width: 30%;
    float: left;
}

.box-40{
    width: 40%;
    float: left;
}

.box-70{
    width: 70%;
    float: left;
}

.box-50{
    width: 50%;
    float: left;
}

.row{
    width: 100%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

/*****contenitori blocchi float******/

.container_head{
    width: 1500px;
    margin: auto;
}

.container{
    width: 1300px;
    margin: auto;
}
/*header style*/

header{
    background-color: var(--color-bg-blocks);
    font-family: var(--text-font);
}

.container_head h1{
    font-size: 70px;
    padding: 4rem 0 3rem;
    margin-bottom: -20px;
}

/*navbar style*/
.nav_bar{
    width: 100vw;
    padding: 1rem;
    background-color: var(--color-bg);
}

.logo{
    display: inline-block;
}

.menu{
    display: inline-block;
}

img{
    width: 100%;
}

/*********Text style*********/

.container_head p{
    padding: 0 2rem 2.7rem 1rem;
}

/********Button********/

.btn{
    text-decoration: none;
    background-color: var(--color-but);
    padding: 0.7rem;
    color: var(--color-bg);
}

.container_head .btn{
    margin: 0 1rem 1rem 1rem;
}

.container_head .random{
    padding-top: 2rem;
}

