/*variabili*/
:root{
    --color-but: #0260ff;
    --color-text: #000000;
    --color-two-text: #6d082a;
    --color-bg-blocks: #b4d0e6;
    --color-bg: #ffffff;
    --color-bg-svg: #f5f5f5;
    --color-svg-green: #a2d39b;
    --color-svg-blue: #0193ce;
    --color-svg-red: #ff1c1d;
    --color-border: #dbdbdb;
    --color-text-tras: #878a8f;
    --text-font:'Open Sans', sans-serif;
}

/*********valori condivisi*********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    font-family: var(--text-font);
}

img{
    width: 100%;
}

.box-5{
    width: 5%;
    float: left;
    position: relative;
}

.box-15{
    width: 15%;
    float: left;
    position: relative;
}

.box-30{
    width: 30%;
    float: left;
    position: relative;
}

.box-40{
    width: 40%;
    float: left;
    position: relative;
}

.box-50{
    width: 50%;
    float: left;
    position: relative;
}

.box-70{
    width: 70%;
    float: left;
    position: relative;
}

.box-95{
    width: 95%;
    float: left;
    position: relative; 
}

.row{
    width: 100%;
    position: relative;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.cont-15{
    width: 50%;
    height: 50%;
    position: relative;
    float: left;
}

.cont-30{
    width: 500px;
    height: 500px;
    float: left;
}

.cont-40{
    width: 853px;
    float: left;
    position: relative;
    padding: 4rem;
    height: 500px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.mid{
    margin: 0 5%;
}

.mark{
    text-decoration: underline;
}

/*****contenitori blocchi float******/

.container_head{
    width: 1500px;
    margin: auto;
}

.container{
    width: 1200px;
    margin: auto;
}

.container_foot{
    width: 1500px;
    margin: auto;
    padding: 6rem 0;
}

/************sezioni************/

/*****head*****/

header{
    background-color: 
    var(--color-bg-blocks);
}

/*****main*****/

main{
    margin-top: 3rem;
}

/************Text style************/

/*nav*/

.nav_bar ul{
    list-style: none;
}

.nav_bar li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
}

.nav_bar .menu_item{
    text-decoration: none;
    color: var(--color-text);
}

.nav_bar img{
    vertical-align: middle;
}

/*head*/
#site_header{
    padding: 0 0 10rem 0;
}

.entity_head{
    font-size: 30px;
    padding-left: 1rem;
}

.container_head img{
    position: absolute;
}

.container_head p{
    padding: 0 2rem 2.7rem 1rem;
}

.container_head h1{
    font-size: 70px;
    padding: 4rem 0 3rem;
}

/*main*/
#site_main{
    padding-top: 10rem;
}

.piano_dropbox h1{
    font-size: 40px;
    text-align: left;
}

.sub{
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid var(--color-border);
}

.piano_dropbox .box-95{
    padding: 1rem 0 1rem 0.5rem;
}

.piano_dropbox .box-5{
    padding: 1rem 0;
}

/*sezione abbonamenti disponibili*/

.piano_dropbox .buy-now{
    padding: 2rem 0 4rem 0;
    display: inline-block;
}

.piano_dropbox .border-bot{
    border-bottom: solid 2px var(--color-border);
    padding-bottom: 1.5rem;
}

.btn a{
    color: var(--color-but);
}

.blue i{
    color: var(--color-but);
}

.text_op{
    color: var(--color-text-tras);
    padding-bottom: 1rem;
}

.pad-box .row{
    padding-bottom: 2rem;
}

.enterprise{
    border: 2px solid var(--color-border);
    margin: 2rem 0;
}

.enterprise .pad{
    padding: 3rem;
}

/*sezione membership*/
.membership p{
    padding: 2.5rem 0;
}

/*sezione funzione DropBox*/
.operazione_dropbox h1{
    font-size: 40px;
    padding:3rem 0;
}

.operazione_dropbox p{
    padding: 1.7rem 0 6rem;
}

.operazione_dropbox a{
    color: var(--color-but);
}

/*blocco free try*/
.free-try h1{
    font-size: 40px;
    padding: 0 8rem 0 3rem;
}

.free-try a{
    margin-right: 2rem;
}

/*sezione Request*/
.request h1{
    padding: 6rem 0 3rem 0;
    font-size: 35px;
    border-bottom: solid 1px var(--color-border);
}
.request li{
    list-style: none;
    border-bottom: solid 1px var(--color-border);
}

.request ul{
    padding-bottom: 5rem
}

.request .text{
    font-weight: bold;
    margin: 2rem 0;
    display: inline-block;
    float: left;
}

.request .entity{
    padding: 2rem;
    font-weight: bold;
    float: right;
}

/*sezione Footer*/

footer ul{
    list-style: none;
    padding: 1rem 0 0 0;
}

footer li{
    padding: 0.4rem 0;
}

/***********Button***************/
.btn{
    text-decoration: none;
    padding: 0.6rem;
}

.btn_blue{
    background-color: var(--color-but);
    color: var(--color-bg);
}

.btn_light{
    background-color: var(--color-bg);
    border:2px solid;
    color: var(--color-text);
}

.btn_light_nb{
    background-color: var(--color-bg);
    color: var(--color-text);
    padding-left: 4rem;
    padding-right: 4rem;
}

.container_head .btn{
    margin: 0 1rem 1rem 1rem;
}

.container_head .random{
    padding-top: 2rem;
}

/*navbar style*/
.nav_bar{
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg);
}

.logo{
    display: inline-block;
}

.menu{
    display: inline-block;
}

/****sections*****/

/*sezione radio abbonamento*/
.chek{
    margin: 2rem 0 1rem 0;
}

.chek label{
    margin: 0 1rem 0 0;
}

/*sezione abbonamento*/

.piano_dropbox .box-30{
    border: solid 2px var(--color-border);
}

.piano_dropbox .pad-box{
    padding: 1rem 1.6rem 4rem;
    height: 1000px;
}

/*sezione membership*/
.mem_text{
    padding: 2rem 5rem 0 5rem;
}

/*sezione blocchi*/

.sezione_block{
    padding-top: 4rem;
}

.sezione_block .svg-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    width: 100%;
}

.cont-img{
    width: 150px;
    margin-bottom: 2rem;
    border-bottom: solid var(--color-bg-svg);
}

.cont-40 p{
    margin-top: 5rem;
    padding: 0 1rem 0 0;
}

.cont-30 .cont-15:first-child{
    background-color: var(--color-svg-green);
}

.cont-30 .arizona{
    background-color: var(--color-two-text);
}

.cont-30 .florida{
    background-color: var(--color-svg-blue);
}

.cont-30 .cont-15:last-child{
    background-color: var(--color-svg-red);
}

.sezione_block .cont-40{
    background-color: var(--color-bg-svg);
}

.sezione_block .row:last-child{
    height: 400px;
    background-color: var(--color-bg-blocks);
}

.free-try .box-70{
    min-height: 100%;
}

.free-try .box-30{
    min-height: 100%;
}

.free-try .box-70 h1{
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--color-two-text);
}

.free-try .box-30 a{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*********sezione footer**********/

footer{
    background-color: var(--color-text);
    color: var(--color-bg);
}

footer .row{
    padding: 0 0 3rem 0; 
}  

footer .box-15{
    margin-right: 4.5rem;
}

footer .border_text{
    border-top: solid 2px var(--color-border);
    padding: 2rem 0 0 0;
    color: var(--color-border);
}
